.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.img {
    width: 200px;
    height: 550px;
    background-image: url(../images/sauron.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 480px;
    margin: 50px;

  }

.cont-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game{
    text-transform: uppercase;
    color: darkgray;
    font-size: 22px;
    margin-bottom: 10px;
}

.title{
    text-transform: uppercase;
    color: darkred;
    font-size: 25px;
}

.text{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.lore{
    color: grey;
    font-size: 18px;
    margin-bottom: 15px;
}

.desc{
    font-size: 18px;
    font-weight: 700;
}

.btn{
    padding: 10px;
    background-color: darkred;
    color: white;
    border-style: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.result{
    background-color: darkred;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.reset{
    padding: 10px;
    background-color: gray;
    color: white;
    border-style: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.points{
    background-color: darkred;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.hidden{
    display: none;
    
}